* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 150%;
}

body {
    margin: 0;
}

.menu {
    width: 15%;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 100;
    background: linear-gradient(to top, #F21F5B, #2E2FB2);
    display: flex;
    flex-direction: column;
}


.navbar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-around;
}

.navbar-item {
    font-size: 17px;

}

.nav-link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    word-break: break-word;
}

.check-square {
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}

.text-light {
    color: white
}
